*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/dev/
/docs/build/
/docs/site/

games/connect-four/solver
TODO.md
inference-speedup.png
inference_time_ratio.png
mcts_speed.png
sessions
archive
plots

*~
*.data
